<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <!--Description-->
    <% if (page.description){ %>
        <meta name="description" content="<%= page.description %>">
    <% } else if (config.description){ %>
        <meta name="description" content="<%= config.description %>">
    <% } else if (page.excerpt){ %>
        <meta name="description" content="<%= strip_html(page.excerpt).replace(/^\s*/, '').replace(/\s*$/, '') %>">
    <% } else if (page.content){ %>
        <meta name="description" content="<%= strip_html(page.content).replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 150) %>">
    <% } %>

    <!--Author-->
    <% if (config.author){ %>
        <meta name="author" content="<%= config.author %>">
    <% } %>

    <!--Open Graph Title-->
    <% if (page.title){ %>
        <meta property="og:title" content="<%= page.title %>"/>
    <% } %>

    <!--Open Graph Site Name-->
    <meta property="og:site_name" content="<%= config.title %>"/>

    <!--Page Cover-->
    <% if(page.cover) { %>
        <meta property="og:image" content="<%= page.cover %>" />
    <% } else { %>
        <meta property="og:image" content="<%= theme.cover %>"/>
    <% } %>

    <!-- Title -->
    <%
        var title = [];
        if (page.current > 1) title.push(__('page', page.current));
        if (page.title) title.push(page.title);
        if (page.category) title.push(page.category);
        if (page.tag) title.push(page.tag);
        if (page.archive) {
            if (page.year) title.push(__('archive_b', page.year + (page.month ? '/' + page.month : '')));
            else title.push(__('archive_a'));
        }
        title.push(config.title);
    %>
    <title><%= title.join(' - ') %></title>

    <!-- Custom CSS -->
    <%- css('sass/main.css') %>
    <%- css('/galleria/themes/classic/galleria.classic.css') %>

    <%- js('js/jquery.min.js') %>

    <%- js('https://cdnjs.cloudflare.com/ajax/libs/galleria/1.4.5/galleria.min.js') %>

    <!--[if lt IE 8]>
        <%- js('js/ie/html5shiv.js') %>
    <![endif]-->

    <!--[if lt IE 8]>
        <%- css('sass/ie8.css') %>
    <![endif]-->

    <!--[if lt IE 9]>
        <%- css('sass/ie9.css') %>
    <![endif]-->

    <!-- Gallery -->

    <!-- Google Analytics -->
    <%- partial('google-analytics') %>

</head>